<h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h2>

<% form_for(@customer, url: admin_customer_path(@customer)) do |f| %>
	<table>
		<thead>
			<tr>
				<th>名前</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ふりがな</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td></td>
			</tr>
			<tr>
				<td>住所</td>
				<td></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td></td>
			</tr>
			<tr>
				<td>会員ステータス</td>
				<td></td>
			</tr>
			</tr>
		</tbody>
	</table>
<% end %>