<h2>会員一覧</h2>

<table class="table">
	<thead>
		<tr>
			<th>会員ID</th>
			<th>会員名</th>
			<th>会員ステータス</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.id %></td>
			<td><%= customer.first_name %> <%= customer.last_name %></td>
			<td></td>
			<td><%= link_to "詳細", admin_customer_path(customer) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
