<h2><%= @item.name %></h2>

<div class="item-box">
	<div class="item-image">
	</div>
	<div class="item-info">
		<h4><%= @item.introduction %></h4>
		<p>ジャンル：<%= @item.genre.name %></p>
		<p>¥<%= @item.price %>（税込）</p>
	</div>
</div>
